<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>moyui的聊天室——Avalon</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="keywords" content="moyui, 聊天室, chatroom, React" />
        <meta name="author" content="moyui" />
        <meta name="viewport" content="width=device-width,initial-scale=1,maximun-scale=1,user-scalable=no" />
        <link rel="shortcut icon" href="//moyui.site/avalon/i/favicon.png" />
        <!--[if lt IE 8]> 
            请使用更加高级的浏览器,比如Chrome,Firefox等
        <![endif]-->
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>